html {
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  --maxwidth: 1200px;
  --white: white;
  --light-gray: #c3c3c3;
  --color-good: darkgreen;
  --color-bad: darkred;
  --background: #f2f2f2;
  --shadow-basic: 0px 1rem 1rem rgba(0, 0, 0, 0.03);
}

p {
  margin: 0;
  padding: 0;
}

/* small screen display */
@media screen and (max-width: 576px)  {
  header {
    height: 5rem !important;
  }
  .apartments-list {
    grid-template: auto / auto;
  }
}

/* navigation toggleable with hamburger on smallish screens */
@media screen and (max-width: 768px)  {
  .nav-desktop {
    display: none !important;
  }
  .nav-toggle {
    display: block !important;
  }
}

/* 2 column apartment list */
@media screen and (min-width: 768.01px) and (max-width: 1080px) {
  .apartments-list {
    grid-template: auto / auto auto;
  }
}

/* 3 column apartment list */
@media screen and (min-width: 1080.01px) {
  .apartments-list {
    grid-template: auto / auto auto auto;
  }
}

body {
  margin: 0;
  background-color: var(--background);
}

a {
  color: black;
  text-decoration: none;
}

/* header styling */

header {
  width: 100%;
  height: 6rem;
  margin: 0;
  background-color: var(--white);
  box-shadow: var(--shadow-basic);
}

.header-container {
  margin: auto;
  height: 100%;
  max-width: 1100px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 1.8rem;
  font-weight: 200;
  margin-right: 2rem;
}

.nav-desktop {
  font-size: 1.2rem;
  width: 100%;
  max-width: 24rem;
  display: flex;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-toggle > img {
  position: relative;
  height: 2rem;
  width: 2rem;
  transition: opacity 0.5s;
}

.nav-close-icon {
  top: -2.1rem;
}

.nav-mini {
  position: fixed;
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  padding-top: 1rem;
}

.nav-mini > a {
  margin: 1rem 0;
  display: block;
}

/* app styling */

.apartments-list {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  column-gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}

.list-item {
  box-sizing: border-box;
  border-radius: 1rem;
  background: var(--white);
  margin: 1rem 0;
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-basic);
}

.list-item > i {
  font-size: 2rem;
}

.available {
  color: var(--color-good)
}

.not-available {
  color: var(--color-bad)
}

.list-item-header {
  font-size: 1.2rem;
}

.list-item-type {
  color: var(--light-gray);
}

.list-item-icons {
  font-size: 0.8rem;
  color: var(--light-gray);
}

.list-item-icons > * {
  margin-right: 0.5rem;
}

/* 
.list-item-icons > img {

} */

/* animation helper classes */

.hidden {
  display: none !important;
}

.no-overflow {
  overflow-y: hidden;
}

.invisible {
  opacity: 0;
}

.toggle-display {
  transition: opacity 0.5s;
}
