html {
  font-size: 20px;
  font-family: 'Prompt', sans-serif;
  --maxwidth: 1200px;
  --white: white;
  --background: #f2f2f2;
  --shadow-basic: 0px 1rem 1rem rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 576px)  {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px)  {
  .nav-desktop {
    background-color: blueviolet;
    display: none !important;
  }
  .nav-toggle {
    display: block !important;
  }
}

body {
  margin: 0;
  background-color: var(--background);
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: var(--white);
  box-shadow: var(--shadow-basic);
}

.header-container {
  margin: auto;
  height: 100%;
  max-width: 1100px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 1.8rem;
  font-weight: 200;
  margin-right: 2rem;
}

.nav-desktop {
  width: 100%;
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-toggle > img {
  position: relative;
  height: 2rem;
  width: 2rem;
  transition: opacity 0.5s;
}

.nav-close-icon {
  top: -2.1rem;
}

.nav-mini {
  position: fixed;
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  padding-top: 1rem;
}

.nav-mini > a {
  margin: 1rem 0;
  display: block;
}

main {
  margin-top: 300px;
}

/* animation helper classes */

.hidden {
  display: none !important;
}

.no-overflow {
  overflow-y: hidden;
}

.invisible {
  opacity: 0;
}

.toggle-display {
  transition: opacity 0.5s;
}
